.cartera-bookings .card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.cartera-bookings .list-group{
  max-height: 48dvh;
  overflow-y: auto;
  scrollbar-width: none;
}

.cartera-bookings .card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  border-radius: 12px 12px 0 0 !important;
}

.list-group-item {
  padding: 0.75rem 1rem;
}

@media (max-width: 768px) {
  .list-group-item {
    padding: 0.75rem 0.75rem;
  }
}
