.cartera-bookings .card {
  border: none;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.cartera-bookings .list-group{
  height: 48dvh;
  overflow-y: auto;
  scrollbar-width: none;
}

.cartera-bookings .card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  border-radius: 12px 12px 0 0 !important;
}

.list-group-item {
  padding: 0.5rem 1rem;
}

@media (max-width: 768px) {
  .list-group-item {
    padding: 0.75rem 0.75rem;
  }
}
