.profile-container {
  min-height: 84vh;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  padding: 1rem;
}
.profile-info p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}
.profile-info strong {
  color: #1976d2;
}

@media (max-width: 992px) {
    .profile-container {
    min-height: 86vh;
  }
}