<div class="profile-container" *ngIf="selectedUser">
  <h2>Perfil del Cliente</h2>
  <div class="profile-info">
    <p><strong>Nombre:</strong> {{ selectedUser.name }}</p>
    <p><strong>Apellidos:</strong> {{ selectedUser.surname }}</p>
    <p><strong>Email:</strong> {{ selectedUser.email }}</p>
    <p><strong>Teléfono:</strong> {{ selectedUser.telephone }}</p>
    <!-- <ng-container *ngIf="selectedUser.bonosRestantes !== undefined">
      <p><strong>Bonos restantes:</strong> {{ selectedUser.bonosRestantes }}</p>
    </ng-container> -->
  </div>
</div>
