<div class="container mt-4">
  <h2>Clases disponibles</h2>
  <div *ngIf="loading" class="alert alert-info">Cargando clases...</div>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  <div class="row mt-3" *ngIf="!loading && !error">
    <div class="col-md-4" *ngFor="let clase of clases">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ clase.name }}</h5>
          <p class="card-text">Tipo: {{ clase.type }}</p>
          <p>{{clase.description}}</p>
          <p>{{clase.price}}€</p>
        </div>
      </div>
    </div>
  </div>
</div>
